@import "comments.css";
@import "header.css";
@import "footer.css";
@import "tour.css";
@import "contact.css";
@import "home.css";
@import "tour2.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--bg-color);
}
:root {
  --header-font: "Anton", sans-serif;
  --mont-font: "Montserrat", sans-serif;
  --bg-color: black;
}
